<div class="d-flex p-4">
	<div class="d-flex flex-column justify-content-start vote-form">
		<%= render partial: 'votes/vote', locals: {post: question, vote: Vote.find_or_create_by(post_id: @question.id, post_type: 'Question', user_id: current_user.id)} %>
	</div>
	<div class='flex-grow-1 pr-4'>
		<div class='pl-4 d-flex justify-content-between'>
			<div class='width-75'>
				<h6><%= question.content %> </h6>
			</div>
			<div class='d-flex flex-column justify-content-start align-items-center width-20 '>
				<p>Created by:</p>
				<p><%= question.user&.profile&.user_name.nil? ? question.user.email : question.user.profile.user_name %></p>
				<p><small>Tags: <%= raw question.tags.map(&:title).map { |t| link_to t, tag_path(t) }.join(', ') %></small></p>
			</div>
		</div> 
		<div class="pl-4">
			<% question.comments.each do |comment| %>
				<hr class= 'mt-1 mb-1'>
				<div class="d-flex justify-content-between">
					<p class='mb-0'><%= comment.content %> - <%= comment.user&.profile&.user_name.nil? ? comment.user.email : comment.user.profile.user_name %></p>
					<% if comment.user == current_user %>
						<div class="d-flex align-items-center">
							<%= link_to('Delete', question_comment_path(question, comment), method: :delete, data: {confirm: 'Are you sure'}, class: 'mr-2', remote: true)%>
							<a class="nav-link pl-0" data-toggle="collapse" href="#collapseAnswerCommentEdit<%= comment.id %>" role="button" aria-expanded="false" aria-controls="collapseExample">
								    Edit
							</a>
							<div class="collapse" id="collapseAnswerCommentEdit<%= comment.id %>">
							  <div class="card card-body p-0 border-0">
							    <%= render partial: 'questions/comments/form', locals: {question: question, comment: comment} %>
							  </div>
							</div>
						</div>
					<% end %>
				</div>
				
			<% end %>
			<% if question.user == current_user %>
				<%= link_to('Edit', edit_question_path(question), remote: true, class: 'nav-link pl-0') %>
				<%= link_to('Delete', question_path(question), method: :delete, data: {confirm: 'Are you sure?'}, class: 'nav-link pl-0') %>
			<% end %>
			<a class="nav-link pl-0" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
			    Add a comment.
			</a>
			<div class="collapse" id="collapseExample">
			  <div class="card card-body p-0 border-0">
			    <%= render partial: 'questions/comments/form', locals: {question: question, comment: Comment.new} %>
			  </div>
			</div>
		</div>
	</div>
</div>
<h5 class='pl-4'><%= question.answers.count %> <%= question.answers.count == 1 ? "Answer" : 'Answers' %>:</h5>
<% question.answers.each do |answer| %>
	<%= render partial: 'answers/answer', locals: {answer: answer} %>
<% end %>
<hr class='m-1 mx-4'>
<div class="mt-0 p-4">
	<%= render partial: 'answers/form', locals: {question: question, answer: Answer.new} %>
</div>