<%= form_for([project, users_project]) do |form| %>
  <div class='p-4'>
    <% if users_project.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@users_project.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
        <% @users_project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <%= (User.all.collect {|user| user.email}).zip(User.all.collect {|user| user.id}) %>

    <%= form.select(:user_id, (User.all.collect {|user| user.email}).zip(User.all.collect {|user| user.id})) %>

  </div>
  <div class="modal-footer bg-white border-0 rounded-bottom m-0">
    <%= form.submit 'Save', class: 'actions btn btn-primary'%>
    <%= link_to 'Back', project_path(@project), class: 'actions btn btn-light'%>
  </div>  

<% end %>