<div class="p-4">
	<div class="d-flex justify-content-between">
		<h5> Due on <%= task.deadline %> </h5>
		<div class="d-flex">
			<%= link_to('Edit', edit_task_path(task), class: 'nav-link p-0 mr-2') %>
			<%= link_to('Delete', task_path(task), method: :delete, data: {Confirm: 'Are you sure?'}, class: 'nav-link p-0 mr-2') %>
		</div>
	</div>
	<p> <%= task.description %> </p>
	<hr>
	<p>Steps to complete the task</p>
	<div class="accordion" id="accordionStep">
		<% task.steps.each do |step| %>
			<%= render partial: 'steps/step', locals: { task: task, step: step} %>
		<% end %>
	</div>
	<p>Add a step</p>
	<%= render partial: 'steps/form', locals: { task: task, step: Step.new }%>
</div>