<div class="p-4">
	<div class="d-flex justify-content-between">
		<h5 class='text-navy'> Due in <%= distance_of_time_in_words(DateTime.now, task.deadline) %> </h5>
		<% if current_user.admin? %>
			<div class="d-flex">
				<%= link_to('Edit', edit_task_path(task), class: 'nav-link p-0 mr-2') %>
				<%= link_to('Delete', task_path(task), method: :delete, data: {Confirm: 'Are you sure?'}, class: 'nav-link p-0 mr-2') %>
			</div>
		<% end %>
	</div>
	<p class='text-navy'> <%= task.description %> </p>
	<hr>
	<p class='text-navy'>Steps to complete the task</p>
	<div class="accordion" id="accordionStep">
		<% task.steps.each do |step| %>
			<%= render partial: 'steps/step', locals: { task: task, step: step} %>
		<% end %>
	</div>
	<% if current_user.admin? %>
		<p>Add a step</p>
		<%= render partial: 'steps/form', locals: { task: task, step: Step.new }%>
	<% end %>
</div>

<!-- <#%= task.deadline.strftime("%d/%m/%Y") %> -->