<div class="d-flex p-4">
	<div class="d-flex flex-column justify-content-start vote-form">
		<%= render partial: 'votes/vote', locals: {post: answer, vote: Vote.find_or_create_by(post_id: answer.id, post_type: 'Answer', user_id: current_user.id)} %>
	</div>
	<div class='flex-grow-1 pr-4'>
		<div class='pl-4 d-flex'>
			<div class='flex-grow-1'>
				<h6><%= answer.content %> </h6>
			</div>
			<div class='d-flex flex-column justify-content-start align-items-center'>
				<p>Created by:</p>
				<p><%= answer.user.email %></p>
			</div>
		</div> 
		<div class="pl-4">
			<% answer.comments.each do |comment| %>
				<hr class= 'mt-1 mb-1'>
				<p class='mb-0'><%= comment.content %> - <%= comment.user.email %></p>
			<% end %>
		</div>
	</div>
</div>
