<h4><%= answer.content %> </h4>
<%= link_to('Edit', edit_question_answer_path(@question, answer)) %>
<%= link_to('Delete', question_answer_path(@question, answer), method: :delete, data: {confirm: 'Are you sure?'}) %>
<h5>Comments:</h5>
<%=link_to('Add a comment', new_question_answer_comment_path(@question, answer)) %>
<% answer.comments.each do |comment| %>
	<%= render partial: 'answers/comments/comment', locals: {question: @question, answer: answer, comment: comment} %>
<% end %>
