<%= form_with(model: project, local: true) do |form| %>
  <div>
    <% if @project.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <% content_for :header do %>
      <h3 class='text-white'> Summit Project </h3>
      <h6 class='text-white'> Where New Projects Are Born </h6>

    <% end %>

    <div>
      <%= form.label :title,'Enter your Project title'%>
      <%= form.text_field :title, placeholder: "Project title..."%>
    </div>

    <div>
      <%= form.label :start_date,'Enter the course start date'%>
      <%= form.date_field :start_date%>
    </div>

    <div>
      <%= check_box_tag(:sunday, 64, @checked_weekdays.include?(:sunday)) %>
      <%= label_tag(:sunday, "Sunday") %>
      <%= check_box_tag(:monday, 32, @checked_weekdays.include?(:monday)) %>
      <%= label_tag(:monday, "Monday") %>
      <%= check_box_tag(:tuesday, 16, @checked_weekdays.include?(:tuesday)) %>
      <%= label_tag(:tuesday, "Tuesday") %>
      <%= check_box_tag(:wednesday, 8, @checked_weekdays.include?(:wednesday)) %>
      <%= label_tag(:wednesday, "Wednesday") %>
      <%= check_box_tag(:thursday, 4, @checked_weekdays.include?(:thursday)) %>
      <%= label_tag(:thursday, "Thursday") %>
      <%= check_box_tag(:friday, 2, @checked_weekdays.include?(:friday)) %>
      <%= label_tag(:friday, "Friday") %>
      <%= check_box_tag(:saturday, 1, @checked_weekdays.include?(:saturday)) %>
      <%= label_tag(:saturday, "Saturday") %>
    </div>

    <div>
      <%= form.submit 'Go!', class: 'actions'%>
      <%= link_to 'Back', projects_path%>
    </div>
  </div>
<% end %>
