<main class="container pr-0 pl-0 ml-5 mr-4 content-container">

  	<% @projects.each do |project| %>
		<div class='shadow-sm p-4 project-container container mb-4 bg-white rounded mx-auto'>
			<div class=''>
				<h2><%= link_to(project.title, project, class: 'text-navy nav-link p-0')%></h2>
			</div>
			<p></p>
			<div class="timeline_div mt-4 pt-3 pb-3">
				<div class='timeline_line bg-grey'>
					<div class="dot timeline_item first_item dot-complete shadow-sm"></div>
					<% project.sections.each do |section| %>
						<%= link_to '', section_path(section), { remote: true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window',class: "timeline_item dot shadow-sm #{'dot-overdue' if section.overdue?(current_user)} #{'dot-complete' if section.complete?(current_user)}", style: "left: #{section.timeline_position}%;" } %>
					<% end %>
					<div class="user-pins d-flex width-100">
						<% project.users.sort_by { |user| project.user_timeline_position(user) }.each do |user| %>
							<div class="user-pin width-0" style="left:<%= project.user_timeline_position(user) %>%;">
								<div>
									<div class='pin-profile-img-parent rounded-circle d-flex justify-content-center user-pin-image shadow-sm'>
						              <% if user&.profile&.image&.attached? %>
						                <%= image_tag (user&.profile&.image), class: 'nav-profile-img pin-image'  %>
						              <% else %>
										<img src="https://picsum.photos/40" class='nav-profile-img pin-image'>
						              <% end %>
						            </div>
								</div>
							</div>
						<% end %>
					</div>
				</div>
			</div>
		</div>

	<% end %>

		<div class='d-flex justify-content-start container p-0'>

			<div class='bg-white p-4 container rounded shadow-sm width-60 justify-self-start m-0'>
				<h3 class='text-secondary'>
					Next Steps:
				</h3>
				<div>
					<% if current_user.tasks.detect { |task| task.complete?(current_user) == false } == nil %>
						<p>You're all done</p>
					<% else %>
						<% current_user.tasks.each do |task| %>
							<% unless task.complete?(current_user) %>
								<div class='d-flex align-items-center'>
									<% if task.complete?(current_user) %>
										<i class="far fa-check-circle mr-2"></i>
									<% else %> 
										<i class="far fa-circle mr-2"></i>
									<% end %> 
									<%= link_to(task_path(task), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: "nav-link flex-grow-1 #{'text-overdue' if task.overdue?(current_user)}"}) do%>
										<%= task.title %>
									<% end %>
									<span class='text-navy'><%= DateTime.now > task.deadline ? "due" : "due in" %> <%= distance_of_time_in_words(DateTime.now, task.deadline) %> <%= "ago" if DateTime.now > task.deadline %></span>
								</div>
							<% end %>
						<% end %>
					<% end %>
				</div>
			</div>

		</div>


</main>

<div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-lg" role="document">
		    <div id="modal-content" class="modal-content">
				<div class="modal-header contrast-border border-bottom-0 rounded-top">
				  <h4 class="modal-title" id="myModalLabel"></h4>
				  <button type="button" class="close" data-dismiss="modal">x</button>
				</div>
				<div class="modal-body bg-lgrey border-0 rounded-bottom p-0">
				</div>
		    </div>
	  </div>
</div>


<script>$('#modal-window').on('hidden.bs.modal', function () {
  location.reload();
});</script>