<h1><%=@project.title%></h1>
<%= link_to('Delete', project_path(@project), method: :delete, data: {confirm: 'Are you sure?'}) %>
<h2>Start date <%= @project.start_date %></h2>
<h3>
	<% @project.sections.each do |section| %>
		<%= render partial: "sections/section", locals: { section: section } %> 
		<%= link_to('View', project_section_path(@project, section)) %>
		<%= link_to('Edit', edit_project_section_path(@project, section)) %>
		<%= link_to('Delete', project_section_path(@project, section), method: :delete, data: {confirm: 'Are you sure?'}) %>
	<% end %> 
</h3>

<p> <%= render partial: 'sections/form', locals: { project: @project, section: Section.new }%> </p>