<main class='container bg-white border rounded content-container shadow-sm px-4 pt-3'>
	<section class="row">
		<div class='col'>
			<h1 class='text-navy'><%=@project.title%></h1>
			<%= link_to('Edit', edit_project_path(@project)) %>
			<%= link_to('Delete', project_path(@project), method: :delete, data: {confirm: 'Are you sure?'}) %>

			<div class='sections row mt-3'>
				<div class='col-12'>
					<div class='accordion' id='sectionAccordion'>
						<% @project.sections.each do |section| %>
							<div class="card d-flex border-0">
								<div class="card-header d-flex px-0 justify-content-between border-0 bg-white" id='header_<%=section.id.to_s%>'>
									<div class='d-flex'>
										<div class="timeline_vitem dot align-self-center <%= 'dot-complete' if section.complete?(current_user) %>"></div>
										<h5 class='mb-0 d-flex justify-content-between'>
											<button class="btn btn-link nav-link" type='button' data-toggle='collapse' data-target='#collapse_<%=section.id.to_s%>' aria-expanded='true' aria-controls='collapse_<%=section.id.to_s%>'>
												<%= section.title %>									
											</button>
										</div>
										<div class="section-links d-flex justify-content-between">
											<%= link_to'View', section_path(section), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'btn btn-primary mr-2'} %>
											<%= link_to('Edit', edit_section_path(section), class: 'btn btn-light border rounded mr-2') %>
											<%= link_to('Delete', section_path(section), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-delete btn-light') %>
										</div>
									</h5>

								
								</div>
								<div class="collapse <%='show' if section.current %>" id='collapse_<%=section.id.to_s%>' aria-labelledby='header_<%=section.id.to_s%>' data-parent='#sectionAccordion'>
									<div class="card-body pl-4 pr-0 pt-3">
										<div class="d-flex justify-content-between container pl-3 pr-0">
											<div class="d-flex flex-column">
												<% section.tasks.each do |task| %>
													<div class='d-flex align-items-center text.lgrey'>
														<span class='text-grey'>
															<% if task.complete?(current_user) %>
																<i class="far fa-check-circle mr-2"></i>
															<% else %> 
																<i class="far fa-circle mr-2"></i>
															<% end %> 
														</span>
														<%= link_to(task_path(task), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'nav-link'}) do%>
															<%= task.title %>
														<% end %>
													</div>
												<% end %>
												</div>
											<div>
												<%= link_to 'Create a new task.', new_section_task_path(section, Task.new),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'btn btn-primary btn'}  %>
											</div>
										</div>
									</div>
								</div>
							</div>	
						<% end %> 
					</div>
				</div>
			</div>
		</div>

		
	</section>

	<% content_for :header do %>
      <h3 class='text-white'> Summit Project </h3>
      <h6 class='text-white'> Add Some Content To "<%=@project.title%>"</h6>

    <% end %>

	<%= link_to 'Create a new section.', new_project_section_path(@project, Section.new),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'btn btn-primary btn'}  %>
	<%= link_to('Add a lesson to the course?', new_project_lesson_path(@project), class: 'btn btn-primary') %>

	<%= link_to('Add a user to this project?', new_project_users_project_path(@project), class: 'btn btn-primary') %>
	
	<div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog modal-lg" role="document">
			    <div id="modal-content" class="modal-content">
					<div class="modal-header contrast-border border-bottom-0 rounded-top">
					  <h4 class="modal-title" id="myModalLabel"></h4>
					  <button type="button" class="close" data-dismiss="modal">x</button>
					</div>
					<div class="modal-body bg-lgrey border-0 rounded-bottom p-0">
					</div>
			    </div>
		  </div>
	</div>
</main>

<script>$('#modal-window').on('hidden.bs.modal', function () {
  location.reload();
});</script>
