<% start_date = params.fetch(:start_date, Date.today).to_date %>
<% date_range = (start_date.beginning_of_month.beginning_of_week..start_date.end_of_month.end_of_week).to_a %>
<div class="month-nav d-flex justify-content-center mb-2">
	<h5><%= link_to(raw("&laquo;"), start_date: date_range.first - 1.day, class: 'btn') %></h5>
	<h4>
		<span class='ml-2 mr-2'>
			<%= I18n.t("date.month_names")[start_date.month] %> 
			<%= start_date.year %>
		</span>
	</h4>
	<h5><%= link_to(raw("&raquo;"), start_date: date_range.last + 1.day) %></h5>
</div>

<table class='table table-striped table-bordered'>
	<thead>
		<tr>
			<th>Sun</th>
			<th>Mon</th>
			<th>Tue</th>
			<th>Wed</th>
			<th>Thu</th>
			<th>Fri</th>
			<th>Sat</th>
		</tr>
	</thead>
	<tbody>
		<% date_range.each_slice(7) do |week| %>
			<tr>
				<% week.each do |day| %>
					<% unless project.nil? %>
						<% if project.lesson_dates.include?(day) %>
							<% if project.assign_lesson_dates.assoc(day) != nil %>
								<td><%= link_to(day.day, ((project.assign_lesson_dates.assoc(day))[1])) %></td>
							<% else %>
								<td><%= day.day %></td>
							<% end %>
						<% else %>
							<td><%= day.day %></td>
						<% end %>
					<% else %>
						<td><%= day.day %></td>
					<% end %>
				<% end %>
			</tr>
		<% end %>
	</tbody>
</table>

