<% start_date = params.fetch(:start_date, Date.today).to_date %>
<% date_range = (start_date.beginning_of_month.beginning_of_week..start_date.end_of_month.end_of_week).to_a %>

<div class="month-nav d-flex justify-content-around pb-2 pt-2 bg-lgrey rounded-top">
	<h5 class='m-0'><%= link_to(raw("&laquo;"), lessons_path(start_date: date_range.first - 1.day), class: 'nav-link p-0 m-0', remote: true) %></h5>
	<h4 class='m-0 width-50'>
		<span class='ml-2 mr-2 text-navy'>
			<%= I18n.t("date.month_names")[start_date.month] %> 
			<%= start_date.year %>
		</span>
	</h4>
	<h5 class='m-0'><%= link_to(raw("&raquo;"), lessons_path(start_date: date_range.last + 1.day), class: 'nav-link p-0 m-0', remote: true) %></h5>
</div>

<table class='table table-hover m-0 rounded'>
	<thead>
		<tr>
			<th>Sun</th>
			<th>Mon</th>
			<th>Tue</th>
			<th>Wed</th>
			<th>Thu</th>
			<th>Fri</th>
			<th>Sat</th>
		</tr>
	</thead>
	<tbody class="rounded">
		<% date_range.each_slice(7) do |week| %>
			<tr>
				<% week.each do |day| %>
					<% unless project.nil? %>
						<% if project.lesson_dates.include?(day) %>
							<% if project.assign_lesson_dates.assoc(day) != nil %>
								<td><%= link_to(day.day, ((project.assign_lesson_dates.assoc(day))[1])) %></td>
							<% else %>
								<td><%= day.day %></td>
							<% end %>
						<% else %>
							<td><%= day.day %></td>
						<% end %>
					<% else %>
						<td><%= day.day %></td>
					<% end %>
				<% end %>
			</tr>
		<% end %>
	</tbody>
</table>

