<div class="d-flex justify-content-between">
	<div class='d-flex justify-content-between'>
		<%= render partial: 'completes/form', locals: { step: step, complete: Complete.find_or_create_by(step_id: step.id, user_id: current_user.id)} %>
		<h4><%=step.title%></h4> <span> <%= "step completed? #{step.complete?(current_user)}" %> </span>
	</div>
	<div>
	<%= link_to('Edit', edit_step_path(step)) %>
	<%= link_to('Delete', step_path(step), method: :delete, data: {confirm: 'Are you sure?'}) %>
	</div>
</div>
<div>
	<h5><%=step.description%></h5>
</div>