<div class="card border-0">
<div class="card-header d-flex px-0 justify-content-between border-0 bg-lgrey" id="heading<%= step.id %>">
	<div class="d-flex justify-content-between">
    	<%= render partial: 'completes/form', locals: { step: step, complete: Complete.find_or_create_by(step_id: step.id, user_id: current_user.id)} %>
        <h5 class='mb-0 d-flex justify-content-between '>
	        <button class="btn btn-link flex-grow-1 nav-link <%= step.complete?(current_user) ? "text-grey" : "text-navy"%> type="button" data-toggle="collapse" data-target="#collapse<%= step.id %>" aria-expanded="true" aria-controls="collapse<%= step.id %>">
	        <%= step.title %>
	        </button>
	    </h5>
  	</div>
  	<div class='d-flex'>
  		<%= link_to('Edit', edit_step_path(step), class: 'nav-link pr-1') %>
		<%= link_to('Delete', step_path(step), method: :delete, data: {confirm: 'Are you sure?'}, class: 'nav-link pl-1') %>

	</div>
</div>

<div id="collapse<%= step.id %>" class="collapse" aria-labelledby="heading<%= step.id %>" data-parent="#accordionStep">
  <div class="card-body pl-5 bg-lgrey">
  	<div class="pl-3">
	    <%= step.description %><br />

      <%= link_to 'Show relevant resources for this step', @step_drop %>
    </div>
  </div>
</div>
</div>
