<div class="container bg-white border rounded content-container">
<h2><%= t "devise.invitations.new.header" %></h2>

<% content_for :header do %>
  <h3 class='text-white'> Summit </h3>
  <h6 class='text-white'> Invite People To Use The Summit Platform </h6>

<% end %>

<%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post} do |f| %>
  <%= devise_error_messages! %>

<% resource.class.invite_key_fields.each do |field| -%>
  <p><%= f.label field %><br />
  <%= f.text_field field %></p>
<% end -%>

	<p><%= f.submit t("devise.invitations.new.submit_button") %></p>
<% end %>
</div>

	
