<!DOCTYPE html>
<html>
  <head>
    <title>Summit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


    <%= render 'layouts/alerts' %>

    <header>
      <%= link_to('Projects', root_path) %>
      <%= link_to('New Project', new_project_path) %>
      <%= link_to('Q&A', questions_path) %>
      <%= link_to('Calendar', lessons_path) %>
    </header>

    <%= yield %>
  </body>
</html>
