<!DOCTYPE html>
<html>
  <head>
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Summit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  
    <body class='bg-light'>
    <header>

    <%= render 'layouts/alerts' %>

      <nav class="navbar navbar-expand navbar-dark sticky-top bg-navy pt-3 pb-3 d-flex">
        <div class='navbar-links d-flex flex-grow-1'>
          <div class="nav-links d-flex flex-row flex-grow-1 align-items-center">
            <h4 class='mr-auto text-white'>Summit Logo</h4>
            <p class='flex-grow-1 text-white'> </p>
            <%= link_to('Projects', root_path, class: 'navbar-nav text-white ml-2 mr-2') %>
            <%= link_to('New Project', new_project_path, class: 'navbar-nav text-white ml-2 mr-2') %>
            <%= link_to('Q&A', questions_path, class: 'navbar-nav text-white ml-2 mr-2') %>
            <%= link_to('Calendar', lessons_path, class: 'navbar-nav text-white ml-2 mr-2') %>
            <% if current_user %>
            <%=link_to 'sign out', destroy_user_session_path, class: 'navbar-nav text-white ml-2 mr-2', method: :delete %>
            <%=link_to 'Invite new user', new_user_invitation_path, class: 'navbar-nav text-white ml-2 mr-2' %>
            <%=link_to 'edit profile', edit_user_registration_path, class: 'navbar-nav text-white ml-2 mr-2' %>

          <% else %>
            <%# sign up only required for testing as addition only usually through email invite%>
            <%=link_to 'sign up', new_user_registration_path, class: 'navbar-nav text-white ml-2 mr-2' %>
            <%=link_to 'sign in', new_user_session_path, class: 'navbar-nav text-white ml-2 mr-2' %>
          <% end%>
          </div>
        </div>
      </nav>

    </header>
    

    <%= yield %>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
